/* RESET CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 0;
}

/* GENERAL CSS */

.container {
  width: 70%;
}

ul,
li {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mt-15 {
  margin-top: 15px;
}

/* HEADER CSS */

.header-container {
  width: 100%;
}

q {
  font-style: italic;
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

.header-grid {
  display: grid;
  grid-template-rows: 50% 50%;
}

.header-button {
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  padding: 5px;
  text-decoration: none;
}

.header-button:hover {
  opacity: 0.9;
}

/* MAIN CSS */

/* FOOTER CSS */

#contato {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-input {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: medium;
  margin-top: 5px;
  border: 1px solid grey;
}

.contact-input:focus {
  outline: none;
}

.buttons-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.contact-buttons {
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  padding: 5px;
  width: 100px;
}

.contact-buttons:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* NAV CSS */

.nav-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-flex {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-basis: 33.33% 33.33% 33.33%;
  justify-content: space-around;
}

.nav-link:hover {
  opacity: 0.9;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
  .header-container {
    padding: 15px;
  }

  .main-grid {
    display: flex;
    flex-direction: column;
  }

  .footer-wrapper {
    margin-bottom: 70px;
  }

  .footer-grid {
    display: flex;
    flex-direction: column-reverse;
  }
}
